{% extends 'blog/base.html' %}

{% block content %}
<section class="container">
    {%for post in posts%}
        <div class="card" style="width: 18rem;">
            <img src="https://i.picsum.photos/id/271/200/200.jpg?hmac=ZEj4e_twCOPm3eoBeBMIKpcbFcD7s8TwRPMuyhLmqPk" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'post_view' id=post.id %}">{{post.title}}</a>
                </h5>
                <p class="card-text">{{post.text}}</p>
                <p class="card-text">
                    {%for user in users%}
                        {% if user.id == post.author_id %}
                            {{user.username}}
                        {% endif %}
                    {%endfor%}
                </p>
            </div>
        </div>
    {%endfor%}
</section>
{% endblock %}